<form id="demo">
  暱稱：<input type="text" id="nickname" #nickname>
  性別：
  <select id="gender" #gender>
    <option value="">請選擇</option>
    <option value="男">男</option>
    <option value="女">女</option>
    <option value="其他">其他</option>
  </select>
  <button type="button" id="submitExample" (click)='submitExample(nickname,gender)'>執行範例</button>
</form>

<!-- <script>
  $(document).ready(function () {
    $("#submitExample").click(function () { //ID 為 submitExample 的按鈕被點擊時
      $.ajax({
        type: "POST", //傳送方式
        url: "service.php", //傳送目的地
        dataType: "json", //資料格式
        data: { //傳送資料
          nickname: $("#nickname").val(), //表單欄位 ID nickname
          gender: $("#gender").val() //表單欄位 ID gender
        },
        success: function (data) {
          if (data.nickname) { //如果後端回傳 json 資料有 nickname
            $("#demo")[0].reset(); //重設 ID 為 demo 的 form (表單)
            $("#result").html('<font color="#007500">您的暱稱為「<font color="#0000ff">' + data.nickname + '</font>」，性別為「<font color="#0000ff">' + data.gender + '</font>」！</font>');
          } else { //否則讀取後端回傳 json 資料 errorMsg 顯示錯誤訊息
            $("#demo")[0].reset(); //重設 ID 為 demo 的 form (表單)
            $("#result").html('<font color="#ff0000">' + data.errorMsg + '</font>');
          }
        },
        error: function (jqXHR) {
          $("#demo")[0].reset(); //重設 ID 為 demo 的 form (表單)
          $("#result").html('<font color="#ff0000">發生錯誤：' + jqXHR.status + '</font>');
        }
      })
    })
  });
</script> -->